// Insert your styling here.
.main-menu li{
	float:none;
	font-size: @font-size-xlarge;
	font-family: @font-family-second;
	a{
			background-color: @nav-link-bg;
	}
}
// 

@cal-height: 100px;

.calendar-row{
	background-color: darken(@body-color, 40%);
	height: @cal-height;
	padding: 20px 10px;
	font-size: @font-size-xlarge;
	font-family: @font-family-second;
	a, span{
		color: @body-color;
	}
	.calendar-item-active &, &:hover{
		background-color: @bordeaux;
		a, span{
			color: @body-color;
		}
	}
	.calendar-event-title{
		margin-top: 0px;
	}
}

.owl-prev,.owl-next, .owl-page{
	opacity: 1!important;
}
.owl-prev{
	border-right-color: @button-bg!important;
		&:hover{
		border-right-color: @button-hover-bg!important;
	}
}
.owl-next{
	border-left-color: @button-bg!important;
		&:hover{
		border-left-color: @button-hover-bg!important;
	}
}
.owl-page span{
	background-color: @button-bg!important;
		&:hover{
		background-color: @button-hover-bg!important;
	}
}