// Insert your styling here.
.main-menu li{
	float:none;
	font-size: @font-size-xlarge;
	font-family: @font-family-second;
}
// 

@cal-height: 100px;

.calendar-item-active .calendar-row, .calendar-row:hover{
	background-color: @bordeaux;
	a, span{
		color: @white;
	}
}

.calendar-row{
	background-color: @beige-darker;
	height: @cal-height;
	padding: 20px 10px;
	font-size: @font-size-xlarge;
	font-family: @font-family-second;
	a, span{
		color: @beige;
	}
}

// Carousel

