// Media query variables.
@mobile:  ~"(max-width: 767px)";
@tablet:  ~"(min-width: 768px) and (max-width: 979px)";
@normal:  ~"(min-width: 980px) and (max-width: 1199px)";
@wide:    ~"(min-width: 1200px)";

// Bootstrap library.
@import 'bootstrap.less';

// Base-theme overrides.
@import 'overrides.less';
 
// Theme specific.
@import 'header.less';
@import 'content.less';
@import 'footer.less';

//Overal styles
#admin-toolbar *{
	box-sizing: content-box;
}

.entitytype-newsletter-form{
	label{
		display: none;
	}
	.form-control{
		border-bottom: @bordeaux 1px solid;
	}
	.field-widget-email-textfield, .form-wrapper{
		display: inline-block;
		float: left;
	}
}

.form-actions .btn{
	background: @button-bg;
	color: @button-color;
	border: none;
	&:hover{
		background: @button-hover-bg;
	}
}
.clickable{
	cursor: pointer;
}

#site-name{
	display: none;
}
h2:not(.calendar-event-title), .h2{
	background-color: @body-bg-2;
	padding: 0px 5px;
	line-height: 1.3;
}
.panel-footer{
	background: transparent;
	border: none;
}

.footer{
	.bg_opacity(@body-bg, 0.85);
	z-index: 1060;
	@media @mobile{
		&{
			position: relative;
		}
	}
	a{
		color: @bordeaux;
		@media @mobile{
			&{
				display: block;
				text-align: center;
			}
		}
	}
	.credits{
		color: lighten(@body-bg-2, 15%);
		a{
			color: lighten(@body-bg-2, 25%)
		}
	}
}
a:focus{
	outline: 5px auto @bordeaux; 
}