@-webkit-keyframes bounce{
	0%{margin-left: 0px;}
	30%{margin-left: 0px;}
	40%{margin-left: 10px;}
	50%{margin-left: 0px;}
	60%{margin-left: 10px;}
	70%{margin-left: 0px;}
	100%{margin-left: 0px;}
}

.post .preview-title{
	position: absolute;
	min-height: 25px;
}

.post-loading{
	opacity: 0.7;
	background-image: url(loading.gif);
	background-position: center;
	-webkit-transition: all 2s;
}

.post-row {
	-webkit-transition: height 0.2s;
	overflow: hidden;
}

.post-closed{

}

.post-loaded .node-article{
	display:none;
}
/*
.post-closed .node-article, .post-row:not(.post-closed) .teaser{
	height: auto;
}

.post-row:not(.post-closed) .node-article, .post-row.post-closed .teaser{
	height: 0px;
}
*/

.lp-wrapper{
	-webkit-transition: all 2s;
	overflow: hidden;
	min-height: 155px;

}

/* Error */
@-webkit-keyframes ajax-error{
	from{background: rgba(155, 0, 0, 0.7);}
	to{}
}
.ajax-error{
	-webkit-animation: ajax-error 0.8s ease-in-out 0s 1;
}